body{
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 600px;
    display: flex;
    margin: 0;

}

#left-side{
border-style: solid;
border-color: red;
display: flex;
border: 0;
}

.left-container{
    display: flex;
    height: 900px;
    width: 600px;
    border-style: solid;
    border-color: red;
    justify-content: center;
    align-items: center;
    border: 0;
}

.left-header{
    color: white;
    background-color: rgba(100, 180, 245, 0.5);
    width: 600px;
    text-align: center;
    font-size: 36px;
    position: relative; top: -107px;
    display: flex;
    justify-content: center;
    align-content: center;


}
#right-side{
    color: black;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: green;
    color: rgb(0, 0, 0);
}
.logo{
    height: 85px; 
    padding-right: 20px;
}

.left-text{
    display:flex;
    justify-content: center;
    align-items: center;
}
.right{
    justify-content: center;
    align-content: center;
    display: flex;
}
.topRow{
    font-family:monospace;
    font-size: 18px;
    padding-left: 32px;
    padding-right: 240px;
    width: clamp(65ch, 50%, 75ch);
    text-align: left;
    font-weight: 600;
}
.background{
    height: 33.3%;
    width:100%;
    background-color: rgba(113, 121, 118, 0.185);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 0;
}
.topRow:last-child{
    justify-content: left;
    padding-top: 16px;
}

.middleRow{
    font-family:monospace;
    font-size: 18px;
    padding-left: 32px;
    padding-right: 240px;
    text-align: left;
    font-weight: 600;
}
.background-middleRow{
    width:100%;
    background-color: white;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
}

.middleRow-text{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 22px;
}

form{
    display: flex;
    flex-direction: column;

}
.container{
display: flex;
flex-wrap: wrap;
gap: 8px;
}
input{
    max-width: 185px;
}
.inputBlock{
display: flex;
flex-direction: column;
padding-left: 32px;
margin-bottom: 18px;
}